<!DOCTYPE html>
<html>
  <head>
    <title>MTA Bus Time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <script src="{{ url_for('static', filename='NoSleep.min.js') }}"></script>

    <input type="button" id="toggle" value="Enable No Sleep" />

    <script>
      var noSleep = new NoSleep();

      var wakeLockEnabled = false;
      var toggleEl = document.querySelector("#toggle");
      toggleEl.addEventListener('click', function() {
        if (!wakeLockEnabled) {
          noSleep.enable(); // keep the screen on!
          wakeLockEnabled = true;
          toggleEl.value = "Disable No Sleep";
        } else {
          noSleep.disable(); // let the screen turn off.
          wakeLockEnabled = false;
          toggleEl.value = "Enable No Sleep";
        }
      }, false);
    </script>

  </body>
</html>
